PORT=3000
BOT_TOKEN=your_bot_token_here
JWT_SECRET=your_jwt_secret_here
WEB_APP_URL=https://your-vercel-app.vercel.app
MONGODB_URI=mongodb://127.0.0.1:27017/tg_web_app_black
MONETAG_ZONE_ID=9609
RENDER_EXTERNAL_URL=https://your-backend-app.onrender.com

